{
    "extends": [
        "airbnb",
        "prettier"
    ],
    "rules": {
        "quotes": [
            2,
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ]
    }
}